.projects {
    min-height: 100vh;
    background-color: #fff16c;
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.container {
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.myProjects {
    height: 150px;
}

.projectsBlock {
    display: flex;
    justify-content: space-between;
}

.myProjects h3 {
    font-size: 50px;
}

@media all and (max-width: 700px) {
    .projectsBlock {
        flex-direction: column;

    }

    .myProjects h3 {
        font-size: 30px;
    }
    .myProjects {
        height: 50px;
    }
}