.main {
    min-height:100vh;
    background-color: #ff9dff;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.greeting {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.photo {
    height: 400px;
    width: 300px;
    background-color: #57370f;
}