.skills {
    width: 100%;
    min-height: 100vh;
    background-color: #5cff43;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    flex-direction: column;
    text-align: center;
    width: 80%;
    align-items: center;
}

.mySkills {
    height: 200px;
}

.skillsBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mySkills h3 {
    font-size: 50px;
}

@media all and (max-width: 700px) {
    .skillsBlock {
        flex-direction: column;

    }

    .mySkills h3 {
        font-size: 30px;
    }

    .mySkills {
        height: 50px;
    }
}