.header {
    height: 70px;
    background-color: #631C23;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: white;
}